<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="http://v4-alpha.getbootstrap.com/favicon.ico">
    <title>Doodle.toi</title>
    <!-- Bootstrap core CSS -->
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.10/webfont.js"></script>
    <script type="text/javascript">
        WebFont.load({
            // For google fonts
            google: {
                families: ['Droid Serif']
            },
            // For early access or custom font
            custom: {
                families: ['Nanum Gothic'],
                urls: ['https://fonts.googleapis.com/earlyaccess/nanumgothic.css']
            }
        });
    </script>
</head>
<body>

<div id="loading_page_container">
    <div class="logo-image text-center">
        <img src="/images/logo_loading.gif" />
    </div>
    <div class="location-loading-image text-center">
        <img id="get_location_success_image" src="/images/get_location_success.gif" />
        <img id="get_location_fail_image" src="/images/get_location_fail.gif" style="display:none;"/>
    </div>
</div>

<script type="text/javascript" src="/components/jquery/dist/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/javascripts/loading.js" charset="utf-8"></script>
</body>
</html>